* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

article {
    display: flex;
    flex-flow: row wrap;
}

img {
    height: 300px;
}

@media screen and (max-width: 1020px) {

    article {
        flex-flow: column wrap;
    }

    img {
        width: 100%;
        height: auto;
    }
}